<div class="container">
    <div class="jumbotron">
        Please Fill in your Team Details...
    </div>
    <form #teamForm = ngForm (ngSubmit)="onSave(teamFullName,teamAbbreviatedName,teamLogo, TeamDescription)">
        <div class="form-group">
            <label for="teamFullName">Team Name</label>
            <input #teamFullName ngModel type="text" class="form-control" id="teamFullName" name="teamFullName" placeholder="Example: FNOL, Desktop & Utilities" required>
            <small id="teamFullNameHelp" class="form-text text-muted">Please Enter your Team's Full Name</small>
        </div>
        <div class="form-group">
            <label for="teamAbbreviatedName">Team's Short Name</label>
            <input #teamAbbreviatedName ngModel type="text" class="form-control" id="teamAbbreviatedName" name="teamAbbreviatedName" placeholder="Example: FUNDU" required>
            <small id="teamAbbreviatedNameHelp" class="form-text text-muted">Please Enter your Team's Abbreviated Name</small>
        </div>
        <div class="form-group">
                <label for="teamLogo">Add Your Team's Logo</label><br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <img src={{teamLogoPath}} onerror="this.onerror=null;this.src = '../../../assets/TeamImages/default-team-logo.png';">
                      </div>
                <div class="col-md-4" style="margin-top: 75px;">
                    <input #teamLogo type="file" accept="image/*" (change)="previewTeamLogo($event.target.files)" > 
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="TeamDescription">Tell us about your Team</label><br>
            <editor id="teamDescription" #TeamDescription [init]="tinymceInit"></editor>
        </div>
        <br>
        <hr>
        <div class="form-group">
            <div class="row">
                <label for="KTPlan">Upload your Team's KT Plan for learning about components sequentially</label>
                <label class="btn btn-default card-title" style="float:right">
                    + Upload KT Plan <input type="file" (change)="displayFile($event.target.files)" hidden>
                </label><br><br>  
            </div>
            <div class="row" [hidden]="hideKTPlanName">
                <div class="form-group">
                    <div class="col col-md-2">
                        <h4>File Name :</h4>
                    </div>
                    <div class="col col-md-10">
                        <input type="text" disabled="true" class="form-control" [value]="KTPlanName" >
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <a href="/TeamsOverview" class="btn btn-warning" style="float: left;"> &laquo; Back</a>
            <button type="submit" class="btn btn-primary" style="float: right;">Save Team</button>
        </div>
      </form>  
</div>
