<div class="container">
    <div class="jumbotron">Which Team Would you Like to know about...</div>
    <hr>
    <div class="item" *ngFor="let teamDetail of getTeamsService.listTeams; let i = index" (click)="AboutTeam(teamDetail)">
        <a> <img  onerror="this.onerror=null;this.src = '../../assets/noImageAvailable.jpg';"   src="http://localhost:49355/MyKTAppWebAPI/Images/TeamLogo/{{teamDetail.TEAM_LOGO_PATH}}" alt=""></a>
        <span class="caption">{{teamDetail.TEAM_ABBREVIATED_NAME}}</span>
    </div>
    <hr>    
    <div class=" row row-md-2">
        <a class="btn btn-primary btn-lg btn-block" style="float: right;" href="/AddTeam">+ Add New Team</a>
    </div>
    <br>
</div>
